@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: float 2s infinite;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


/* styles/globals.css */

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* ::-webkit-scrollbar-track {
  background: #18181b;
} */

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: white #18181b;
}